<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"></meta>
    <title>Reservation Service</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Reservation Details</h2>
    <div>
        <form class="form-horizontal" th:object="${reservation}" th:action="@{/reservation}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>

            <div class="form-group">
                <label class="col-sm-2 control-label">Reservation Object:</label>
                <div class="col-sm-10">
                    <input type="text" pattern="[a-zA-Z0-9ząćęłńóśźżĄĘŁŃÓŚŹŻ]+" class="form-control" th:field="*{resObject}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" pattern="[A-Za-ząćęłńóśźżĄĘŁŃÓŚŹŻ]+" class="form-control" th:field="*{firstName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" pattern="[A-Za-ząćęłńóśźżĄĘŁŃÓŚŹŻ]+" class="form-control" th:field="*{lastName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Reservation Date:</label>
                <div class="col-sm-10">
                    <input type="datetime-local" value="2019-06-04T13:15"
                           min="2019-06-04T13:15" max="2099-01-01T00:00"
                           class="form-control" th:field="*{resDate}"/>
                </div>
            </div>
            <div class="row">
                <button id="submit" type="submit" class="btn btn-default">Submit</button>
            </div>

        </form>
    </div>
</div>

</body>
</html>
