html, body{
    background-color:aqua;
    background-repeat: repeat;
    margin:0;padding:10px;width:100%;height:100%;
    color: black;
    height: 100%;
}
h1{
	color: black;
    clear: both;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.buttonAdd {
     
    float:left;
    margin:auto;
    background-color: transparent;
    position: relative;
    width: 40%;
    padding: 12px 28px;
    font-size: 20px;
    border-radius: 15px;

}
.buttonCheck {
     
    float:right;
    margin:auto;
    background-color: transparent;
    position: relative;
    width: 40%;
    padding: 12px 28px;
    margin-right: 2%;
    font-size: 20px;
    border-radius: 15px;

}

#Add {
    float:left;
    font-size:  1.7em;
    position: relative;
    width: 26%;
    border: 2px solid;
    margin-top: 4%;
    margin-left: 5%;
    display:none;  
}

#Check {
    float:right;
    font-size:  1.7em;
    position: relative;
    width: 26%;
    border: 2px solid;
    margin-top: 4%;
    margin-right: 6%;
    display:none;
}
